<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="page-header">
    <h1>Hello {{main.username}} from about route</h1>
</div>
<body>
<div ng-controller="viewMailController as list">
        <table class="table">
            <tr>
                <th>Recipient</th>
                <th>Sender</th>
                <th>Body of message</th>
            </tr>

            <tr ng-repeat="mail in mails| orderBy:'-recipient'">
                <td>{{ mail.recipient}}</td>
                <td>{{ mail.sender}}</td>
                <td>{{ mail.bodyOfMessage}}</td>


                <td>
                    <button type="button" class="btn btn-default" ng-click="delete(mail._id)">
                        <span class="glyphicon glyphicon-remove"></span> Delete</button>
                </td>
            </tr>
        </table>
        <!--<table align="center" valign="middle">-->
            <!--<tbody ng-repeat="mail in mails | orderBy:'-recipient'| filter: searchPosts">-->
            <!---->
            <!--<tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle"; >-->
            <!--<th>Recipient</th>-->
            <!--<td>-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-user"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span  style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle";>&ndash;&gt;-->
                <!--{{mail.recipient}}-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</td>-->
            <!--<td>-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-home"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle";>&ndash;&gt;-->
                <!--{{mail.sender}}-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</td>-->
            <!--<td>-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-euro"></span>&ndash;&gt;-->
                <!--{{mail.bodyOfMessage }}                &nbsp-->

            <!--</td>-->
            <!--<td>-->

                <!--&lt;!&ndash;<span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle";>&ndash;&gt;-->


                <!--<button type="button" class="btn btn-default" ng-click="delete(mail._id)">-->
                    <!--<span class="glyphicon glyphicon-remove"></span> Remove-->
                <!--</button>-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-click="update(bar.earnings)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-edit"></span> Edit&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
        <!--<div>-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="number" id="earnings" valign="middle" ng-model="current.earnings" value="{{current.earnings}}"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--<td>-->
                    <!--<button ng-click="save(current._id)">Save</button>-->
                <!--</td>-->
            <!--</tr>-->
        </div>
    <!--</div>-->

    </body>
</html>


