<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="page-header">
    <h1>List of Earnings</h1>
</div>
<div ng-controller="viewfinancecontroller as list">
    <table class="table">
        <tr>
            <th>Income</th>
            <th>Expenditure</th>
            <th>Profits</th>
            <th>Bar Name</th>
        </tr>

        <tr ng-repeat="finance in finances| orderBy:'-barName'">
            <td>{{ finance.income}}</td>
            <td>{{ finance.expenditure}}</td>
            <td>{{ finance.profit}}</td>
            <td>{{ finance.barName}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="delete(mail._id)">
                    <span class="glyphicon glyphicon-remove"></span> Delete</button>
            </td>
        </tr>
    </table>
        <div>

        </div>
    </div>

    </body>
</html>


