<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="page-header">
    <h1>Bar List </h1>
</div>
<body>
<div ng-controller="barlistcontroller as list">
    <table class="table">
        <tr>
            <th>Bar Name</th>
            <th>Location</th>
        </tr>

        <tr ng-repeat="bar in bars">
            <td>{{ bar.barName}}</td>
            <td>{{ bar.location}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="delete(bar._id)">
                    <span class="glyphicon glyphicon-remove"></span> Delete</button>
                </button>
            </td>
        </tr>
    </table>

</div>
</body>
</html>


